* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: rgb(30, 19, 2);
}

.main-header {
    text-align: center;
}

ul {
    list-style: none;
    background: rgb(117, 103, 79);
    text-align: center;
}
ul li {display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 20px 25px;
    color:rgb(252, 252, 252);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background: rgb(117, 103, 79);
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover {
    background: rgb(168, 148, 115);
}
ul li:hover ul.dropdown {
display: block;
}

.body {
    background-color: beige;
}

.content-image {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 3;
}

.content-image img {
    height: 300px;
    width: 300px;
    border: 1px solid;
    background-size: cover;
    background-position: center;
    align-self: center;
    margin: 30px;
}

.content-formula {
    display: flex;
}

.content-formula>aside {
    flex: 1;
}

.content-calculation {
    display: flex;
}

.content-calculation>aside {
    flex: 1;
}

@media only screen and (max-width: 480px) {
    .main-content {
        flex-direction: column;
    }
}