.main-header {
    text-align: center;
}

.content-selection {
    display: flex;
    flex-direction: column;
}

.button-segitiga {
    height: 32px;
    border: none;
    border-radius: 8px;
    background-color: rgb(172, 159, 137);
}

.button-jajar-genjang {
    height: 32px;
    border: none;
    border-radius: 8px;
    background-color: rgb(172, 159, 137);
}

.luas-segitiga {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    background-color: rgb(232, 189, 110);
}

.luas-segitiga-content {
    display: flex;
    flex-direction: column;
}

.luas-segitiga-img {
    height: 300px;
    width: 300px;
    border: 1px solid;
    background-image: src("EGITIGA.png");
    background-size: cover;
    background-position: center;
    align-self: center;
    margin: 30px;
}

.rumus-lst {
    background-color: rgb(240, 211, 157);
    height: 32px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    align-content: center;
}

.rumus-kst {
    background-color: rgb(240, 211, 157);
    height: 32px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    align-content: center;
}

.hitung-luas-segitiga {
    text-align: center;
}

.main-content {
    display: flex;
}

.main-content>aside {
    flex: 1;
}